
.icon-emo-devil:before { content: '\e800'; } /* '' */
.icon-cross:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-plug:before { content: '\e804'; } /* '' */