@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #FF7600;
}

*, *:before, *:after {
	box-sizing: inherit;
}


h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: Black;
	font-size: 1.5em;
	text-align: center;
}

.header-section {
	background: url(../images/blackpattern.png);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 10rem;
}

/* Animation -----------------------------------------------------------*/
.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.icon {
	margin: 0 auto 1.5em;
	display: block;
	width: 150px;
	opacity: 0;
	transition: all 500ms ease;
	position: relative;
}
.js-icon-fade {
	-webkit-animation: icon-fade 800ms linear forwards;
}
@-webkit-keyframes icon-fade {
	0% {
		opacity: 0;
		top: -250px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow: hidden;
 
    }   
 
.rotate:hover   
{ 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
}   

/* SOCIAL -----------------------------------------------------------*/ 

.social img {
	width: 100%;
	display: block;
}
.social{
	background-color: transparent;
	text-align: center;
	padding-top: 1.5rem;
}
.social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.social li{
	display: inline-block;
}

.social li a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 1rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 0px 0px 40px #000;
	-moz-box-shadow: inset 0px 0px 0px 40px #000;
	-ms-box-shadow: inset 0px 0px 0px 40px #000;
	-o-box-shadow: inset 0px 0px 0px 40px #000;
	box-shadow: inset 0px 0px 0px 40px #000;
	
}

.social li a:hover{
	-webkit-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
	-moz-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
	-ms-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
	-o-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
	box-shadow: inset 0px 0px 0px 3px #FFFFFF;
}